<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Book a Trip</title>

	<link rel="stylesheet" href="css/bootstrap.css">

	<style>
		body { padding-top: 70px; }
	</style>

	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 dataInput">
			<h4>Book a trip</h4>

			<hr>

			<form action="book.php" method="post" class="form-horizontal">
				<div class="row">
					<div class="col-md-6">
						<h5>
							<strong>Paris, France Tour</strong>
						</h5>

						<p class="text-muted">$2499 for 7 Nights</p>
					</div><!-- /.col-md-6 -->

					<div class="col-md-6 text-right">
						<div class="form-group form-group-sm">
							<label for="nights" class="col-md-3 control-label">Nights:</label>

							<div class="col-md-9">
								<input type="number" name="nights" id="nights" class="form-control" value="7">

								<input type="hidden" name="price" id="price" value="357">
								<input type="hidden" name="destination" id="destination" value="Paris">
							</div><!-- /.col-md-9 -->
						</div><!-- /.form-group -->

						<button type="submit" class="btn btn-danger">Book Now</button>
					</div><!-- /.col-md-6 -->
				</div><!-- /.row -->
			</form>
		</div><!-- /.col-md-6 col-md-offset-3 -->
	</div><!-- /.row -->
</div><!-- /.container -->

<script type="text/html" class="template">
	<% if(true){ %>
		<div class="alert alert-info">
		<p>Trip to <% destination %> at <% price %> for <% nights %> nights.</p>
		<p>Your confirmation code: <% confirmation %>.</p>
		</div>
	<%}else{%>
		<div  class="alert alert-danger"><p>Something went wrong.</p></div>
	<%}%>
	
</script>
</body>
</html>
